<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Good Food Hunting</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <h1>Good Food Hunting</h1>
  <nav>
    <a href="/new_dish">post new dish</a>
  </nav>

  <img class="header-image" src="https://i.ytimg.com/vi/qOV-Mxd8Kek/maxresdefault.jpg" alt="">

  <%= yield %>

</body>
</html>
